# Explore IAM local development
SERVER_PORT=9100
OIDC_ISSUER=http://localhost:9100

APP_DEMO_USER_ENABLED=true
APP_DEMO_USER_USERNAME=demo
APP_DEMO_USER_PASSWORD=demo-password
APP_DEMO_USER_EMAIL=demo@explore-iam.local

IAM_CLIENT_EXPLORE_AI_ID=explore-ai
IAM_CLIENT_EXPLORE_AI_SECRET=explore-ai-dev-secret
